<p-panel styleClass="sidebar">
    <div class="sidebar-title">
        <span>Daily Notes</span>
    </div>
    <div class="sidebar-subtitle">
        <span>v{{ appVersion }}</span>
    </div>
    <ul class="sidebar-list">
        <li class="sidebar-list-item">
            <button pButton pRipple class="p-button-text p-button-plain" label="Home" icon="pi pi-home"></button>
            <button pButton pRipple class="p-button-text p-button-plain" label="Teams" icon="pi pi-users"></button>
        </li>
    </ul>
</p-panel>