<div style="display: flex; justify-content: center; align-items: center; width: 100vw; height: 100vh;">
    <div style="padding: 20px; background-color: var(--surface-d); border-radius: 10px;">
        <h1 style="color: white; margin-bottom: 20px;">Temporary Navigation</h1>
        <div style="display: grid; grid-row-gap: 10px;">
            <button routerLink="/dashboard" pButton pRipple label="Dashboard"></button>
            <button routerLink="/auth" pButton pRipple label="Auth"></button>
        </div>
    </div>
</div>